<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.accp.t4.dao.lgbDao.NewsDao">
	
<select resultType="com.accp.t4.entity.lgbEntity.User" id="queryUser">SELECT * FROM `user` where `userID` = #{userID} </select>	
	
<select resultType="com.accp.t4.entity.lgbEntity.News" id="queryXtNews">SELECT * FROM `news` WHERE `addRessee`=#{userid} and `newsType`=#{newsType} ORDER BY `sendingTime` DESC </select>

<update id="updateXtNews">UPDATE `news`SET `readState` =TRUEWHERE `newsID`=#{newsID} </update>

<delete id="deleteNews">DELETE FROM `news`WHERE `newsID`=#{newsID} </delete>

<select id="queryZnxNews" resultMap="queryNews">SELECT * FROM `news` WHERE `addRessee`=#{userID} and `newsType`=2 GROUP BY `messageGroup` ORDER BY `sendingTime` DESC </select>


<resultMap id="queryNews" type="com.accp.t4.vo.lgbVO.NewsVo">

<id property="newsid" column="newsid"/>

<result property="thesender" column="thesender"/>

<result property="addressee" column="addressee"/>

<result property="sendingtime" column="sendingtime"/>

<result property="readstate" column="readstate"/>

<result property="newstype" column="newstype"/>

<result property="messagegroup" column="messagegroup"/>

<result property="content" column="content"/>

<association property="Sender" column="thesender" select="selectUser"/>

<association property="Ressee" column="addressee" select="selectUser"/>

</resultMap>

<select resultType="com.accp.t4.entity.lgbEntity.User" id="selectUser">SELECT * FROM `user` WHERE `userID` = #{0} </select>

<update id="updateZnxNews">UPDATE `news` SET `readState` =TRUEWHERE `messageGroup`=#{groupID} </update>

<delete id="deleteZnxNews">DELETE FROM `news` WHERE `messageGroup`=#{groupID} </delete>

<select id="queryZnxXq" resultMap="queryNews">SELECT * FROM `news` WHERE `messageGroup` =#{groupID} ORDER BY `sendingTime` </select>

<insert id="saveZnx">INSERT INTO `news`(`theSender`,`addRessee`,`content`,`newsType`,`messageGroup`) VALUE(#{news.thesender},#{news.addressee},#{news.content},#{news.newstype},#{news.messagegroup}) </insert>

<select resultType="com.accp.t4.entity.lgbEntity.News" id="queryAllNews">SELECT * FROM `news` WHERE `addRessee`=#{userid} </select>

<insert id="saveXtxx">INSERT INTO `news`(`addRessee`,`content`,`sendingTime`,`readState`,`newsType`) VALUES(#{userid},#{content},NOW(),0,1) </insert>
	
	
	<!-- 后台 -->
</mapper>