

<html>

	<head>
		<meta http-equiv="Content-Language" content="zh-cn">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="Css/style_admin.css">
		
	</head>

	<body>
		<form>
			<table cellspacing="1" cellpadding="4" width="100%"
				class="tableborder" id="table3">

				<input type="hidden" name="action" value="save" />
				<tr>
					<td colspan="12" class="header">
						帖子版主排序
					</td>
				</tr>
				<tr>
					<td class="altbg1">
						上一级:
					</td>
					<td class="altbg2" colspan="11">
						 <select name="pid" id="pid">
            	<option value="2">社区</option>
<option value="8">语种学习</option>

<option value="21">——初级韩语</option>
<option value="22">——中级韩语</option>
<option value="54">——高级韩语</option>
<option value="75">——日常韩语</option>
<option value="76">——专业韩语</option>
<option value="134">——韩语考试</option>
<option value="139">——求职用语</option>
<option value="135">——韩语求助</option>
<option value="105">校园互动</option>

<option value="110">——艺术类</option>
<option value="108">——理工类</option>
<option value="106">——医科类</option>
<option value="111">——农业类</option>
<option value="138">——其他类</option>
<option value="136">——专业求助</option>
<option value="109">——财经类</option>
<option value="26">交友聚会</option>

<option value="47">——交朋结友</option>
<option value="131">——非诚勿扰</option>
<option value="132">——兴趣爱好</option>
<option value="140">——生活情感</option>
<option value="133">——其它相关</option>
<option value="9">热门视频</option>

<option value="206">——大学教程</option>
<option value="23">——美妆天地</option>
<option value="24">——日系韩妆</option>
<option value="141">——韩语教程</option>
<option value="55">留学资讯</option>

<option value="216">——Tan111</option>
<option value="147">——韩国</option>
<option value="149">——美国</option>
<option value="148">——日本</option>
<option value="150">校园招聘</option>

<option value="199">——国有企业</option>
<option value="205">——私营企业</option>
<option value="198">——民营企业</option>
<option value="210">——</option>
<option value="151">校园求职</option>

<option value="194">大学教程</option>

<option value="195">——韩语入门</option>
<option value="196">——中级韩语教程</option>
<option value="197">——高级韩语教程</option>
<option value="223">快乐大本营</option>

<option value="224">——何d</option>
<option value="27">房屋信息</option>

<option value="28">——首尔</option>
<option value="29">——仁川</option>
<option value="30">——釜山</option>
<option value="31">——大邱</option>
<option value="32">——大田</option>
<option value="33">——光州</option>
<option value="34">——京畿</option>
<option value="35">——忠北</option>
<option value="36">——忠南</option>
<option value="37">——全北</option>
<option value="39">——庆北</option>
<option value="40">——庆南</option>
<option value="41">——济州</option>
<option value="42">——蔚山</option>
<option value="43">——其他</option>
<option value="44">——房屋短租</option>
<option value="45">——房屋出租</option>
<option value="46">——房屋合租</option>
<option value="71">整形后记</option>

<option value="72">——ID整形医院</option>
<option value="61">海外签证</option>

<option value="62">——韩国签证</option>
<option value="137">——韩国法律</option>
<option value="67">软件资源</option>

<option value="68">——游戏软件</option>
<option value="69">——办公软件</option>
<option value="70">——MAC论坛</option>
</select>
					</td>
				</tr>
				<tr>
					<td class="altbg1">
						类 型:
					</td>
					<td class="altbg2" colspan="11">
						   <select name="posttype" >
              <option value="0">请选择</option>
                <option value="1" >招聘</option><option value="2" >求职</option><option value="3" >影音上传</option><option value="4" >文件上传</option>            </select>

					</td>
				</tr>
				<tr>
					<td class="altbg1">
						栏目名称:
					</td>
					<td class="altbg2" colspan="11">
						<INPUT id="catname" size=40 type="text" name="catname" value="">
					</td>
				</tr>
				<tr>
					<TD class="altbg1">排序:</TD>
            <TD class="altbg2" colspan="11"><input name="sort" type="text" id="sort" value="0" size="5"></TD>

          <TR>
            <TD class="altbg1">是否需要审核：</TD>
            <TD class="altbg2" colspan="11">
         <input type="radio" name="need_check" id="need_check"  value="1">需要 
				<input type="radio" name="need_check" id="need_check"  value="0">不需要 

            </TD>
           
          </TR>
          <TR>
            <TD class="altbg1" >发贴是否赠送积分：</TD>
            <TD class="altbg2" colspan="11">
            	<input type="radio" name="send_point" id="send_point"  value="1">赠送 
				<input type="radio" name="send_point" id="send_point"  value="0">不赠送

            </TD>
          
          </TR>
          
          <TR>
            <TD class="altbg1" >版主用户名：</TD>
            <TD class="altbg2" colspan="11">
            	<input name="banzhu" type="text" id="banzhu" value="" size="15">


            </TD>
          
          </TR>
          
         
          <TR>
            <TD class="altbg1" >&nbsp;</TD>
            <TD class="altbg2" colspan="11" >
              <INPUT id=button3 value="   保存     " type=submit name=button3 class="button white">
              <INPUT class="button white" id="add" value="返回" type=button name="add" onClick="location.href='/index.php/Admincp/Cat/blog.html'">

			</TD>
          </TR>

				</tr>
				

			
			</table>
		</form>

	</body>
	<script src="../js/jquery-1.12.4.js"></script>
<script type="text/javascript">

	
</script>	
</html>
