

<html>

	<head>
		<meta http-equiv="Content-Language" content="zh-cn">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="Css/style_admin.css">
		
	</head>

	<body>
		<form>
			<table cellspacing="1" cellpadding="4" width="100%"
				class="tableborder" id="table3">

				<input type="hidden" name="action" value="save" />
				<tr>
					<td colspan="12" class="header">
						提现申请
					</td>
				</tr>
				<tr>
					<td class="altbg1">
						<strong>会员:</strong>
					</td>
					<td class="altbg2" colspan="11">
						好饿
					</td>
				</tr>
				<tr>
					<td class="altbg1">
						申请日期:
					</td>
					<td class="altbg2" colspan="11">
						2019-01-18 15:46:01
					</td>
				</tr>
				<tr>
					<td class="altbg1">
						保证金:
					</td>
					<td class="altbg2" colspan="11">
						0.00元
					</td>
				</tr>
				<tr>
					<TD class="altbg1">店铺名称:</TD>
            <TD class="altbg2" colspan="11">学海阁2</TD>

          <TR>
            <TD class="altbg1">状态：</TD>
            <TD class="altbg2" colspan="11">
            交易成功  
            </TD>
           
          </TR>
          <TR>
            <TD class="altbg1" >备注：</TD>
            <TD class="altbg2" colspan="11"><textarea name="remarks"  rows='3' cols='160' placeholder="请填入拒绝原因"></textarea>  </TD>
          
          </TR>
          
          <TR>
            <TD class="altbg1" >&nbsp;</TD>
            <TD class="altbg2" colspan="11" >
           
			<a href="javascript:;" onclick="history.go(-1)"> 返回 </a>
			<input type="hidden" value="53" name="id" />
			</TD>
          </TR>

				</tr>
				

			
			</table>
		</form>

	</body>
	<script src="../js/jquery-1.12.4.js"></script>
<script type="text/javascript">

	
</script>	
</html>
