

<html>

	<head>
		<meta http-equiv="Content-Language" content="zh-cn">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="Css/style_admin.css">
		
	</head>

	<body>
		<form>
			<table cellspacing="1" cellpadding="4" width="100%"
				class="tableborder" id="table3">

				<input type="hidden" name="action" value="save" />
				<tr>
					<td colspan="12" class="header">
					服务审核
					</td>
				</tr>
				<tr>
					<td class="altbg1">
						会员:
					</td>
					<td class="altbg2" colspan="11">
						  11

            </TD>

					</td>
				</tr>
				<tr>
					<td class="altbg1">
						商家:
					</td>
					<td class="altbg2" colspan="11">
						学海阁2
					</td>
				</tr>
				<tr>
					<td class="altbg1">
						标题:
					</td>
					<td class="altbg2" colspan="11">
						文化观光
					</td>
				</tr>
				<tr>
					<td class="altbg1">
						服务类型:
					</td>
					<td class="altbg2" colspan="11">
						地陪观光 202
					</td>
				</tr>
				<tr>
					<td class="altbg1">
						发布时间:
					</td>
					<td class="altbg2" colspan="11">
						 2019-01-21 13:25
					</td>
				</tr>
				<tr>
					<td class="altbg1">
						图片:
					</td>
					<td class="altbg2" colspan="11">
						<img src ="/Uploads/image/2019-01/20190121012526-62281.png" width="80" /> 
					</td>
				</tr>
				<tr>
					<td class="altbg1">
						价格标题:
					</td>
					<td class="altbg2" colspan="11">
						小伙伴快来围观了23
					</td>
				</tr>
          
         <tr>
					<td class="altbg1">
						金币价格:
					</td>
					<td class="altbg2" colspan="11">
						11
					</td>
				</tr>
          <tr>
					<td class="altbg1">
						费用包含:
					</td>
					<td class="altbg2" colspan="11">
						小费,油费,
					</td>
				</tr>
          
          <tr>
					<td class="altbg1">
						费用说明:
					</td>
					<td class="altbg2" colspan="11">
						-
					</td>
				</tr>
          
          <tr>
					<td class="altbg1">
						服务介绍:
					</td>
					<td class="altbg2" colspan="11">
						-
					</td>
				</tr>
           <tr>
					<td class="altbg1">
						审核状态:
					</td>
					<td class="altbg2" colspan="11">
						<input type="radio" name="zt" value="0"  />待审核
						<input type="radio" name="zt" value="1" checked />审核成功　
						<input type="radio" name="zt" value="2"  />未通过
					</td>
				</tr>
				 <tr>
					<td class="altbg1">
						 营业状态:
					</td>
					<td class="altbg2" colspan="11">
						 <input type="radio" name="close" value="1" > 停业　
            <input type="radio" name="close" value="0" checked> 营业
					</td>
				</tr>
				 <tr>
					<td class="altbg1">
						排序:
					</td>
					<td class="altbg2" colspan="11">
						<INPUT name="sortid" type="text" id="sortid" value="" size="8" maxlength="9" class="validate[required,custom[number]]">数字
					</td>
				</tr>
				 <tr>
					<td class="altbg1">
						 服务推荐:
					</td>
					<td class="altbg2" colspan="11">
						  <input type="radio" name="is_recommend" value="1" > 推荐　
                  <input type="radio" name="is_recommend" value="0" checked> 不推荐
					</td>
				</tr>
				 <tr>
					<td class="altbg1">
						管理员意见:
					</td>
					<td class="altbg2" colspan="11">
						 <textarea name="admin_reason" id="admin_reason" rows="7" cols="80"></textarea>
					</td>
				</tr>
          <TR>
            <TD class="altbg1" >&nbsp;</TD>
            <TD class="altbg2" colspan="11" >
              <INPUT id=button3 value="   保存     " type=submit name=button3 class="button white">
              <INPUT class="button white" id="add" value="返回" type=button name="add" onClick="history.go(-1)">

			</TD>
          </TR>

				</tr>
				

			
			</table>
		</form>

	</body>
	<script src="../js/jquery-1.12.4.js"></script>
<script type="text/javascript">

	
</script>	
</html>
