<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
	
    <link rel="stylesheet" type="text/css" href="Css/admin-style.css" />
    <link rel="stylesheet" href="Css/bootstrap.min.css" />
    <!-- <link rel="stylesheet" type="text/css" href="/Public/css/admin/pagelist.css" /> -->
<style>
	#vmCnt th,td{
		text-align: center;
	}
	input,select{
		height: 25px;
		width: 170px;
		font-size: 7px;
	}
	#admin_reason{
		width: 300px;
	}
	#cv td{
		text-align: center;
		height: 30px;
		line-height: 30px;
	}
</style>

   
    

</HEAD>
<BODY class=oneColLiqCtrHdr style="width: 1600px;">
<DIV id=container>
    <DIV id=header>
        <H4>
        		广告管理<BR></H4>
         <form method="post" name="searchform" action="">
            <TABLE border=0 class="tablesorter" cellSpacing=1 cellPadding=6 width="100%">
                <TBODY>
                <TR>
                     <TD >按分类查看: 
                        <select name="adv_catid">
                            <option value="0">全部</option>
                            <option value="23">首页幻灯片</option><option value="24">首页韩汀社区上方广告</option><option value="25">底部加入我们上方广告</option><option value="26">首页社区服务左上角大图</option><option value="27">首页社区服务右上角大图</option><option value="28">首页社区服务中间小图</option><option value="29">首页社区服务底部图片</option><option value="30">商家会员中心左侧图片</option><option value="31">商家会员中心底部图片</option><option value="32">商家会员中心右侧图片</option><option value="34">服务右侧图片</option><option value="35">帖子列表页面顶部图片</option><option value="36">帖子详细页面右侧图片</option><option value="37">登录广告</option><option value="38">手机端首页幻灯</option>                        </select>
                        <input value="搜索" type="submit" name=""></TD>



                </TR>
                </TBODY>
            </TABLE>
        </form>

    </DIV>
    <DIV id="mainContent"><BR>
    <div class="col-md-12" style="padding: 0px;">
			<div class="table-responsive">
				<table id="vmCnt" class="table table-hover alert-dismissable table-bordered " >
					<thead>
						<tr >
							<th ></th>
                    <th >ID</th>
                    <th >排序</th>
                    <th >标题</th>
                    <th >图片</th>
                    <th >分类</th>
                    <th>&nbsp;</th>


						</tr>
					</thead>
					<tbody id="cv">
						     
     <tr>
                        <!--
                                                -->
						<td><input type="checkbox" name="id[]" value="10019"/></td>
                        <td align="center" nowrap>10019</td>
                        <td align="center" nowrap>1</td>
                        <td align="center" nowrap>首页幻灯片</td>
                        <td align="center" nowrap><img src="/Uploads/adv/2018-05/20180508035033-30965.jpg" width="100" /></td>
                        <td align="center" nowrap>首页幻灯片</td>
                        <td nowrap align=center>
                            <a href="updateguanggao.html">修改</a>
                            
                        </td>
                    </tr>

 <tr>
                        <!--
                                                -->
						<td><input type="checkbox" name="id[]" value="10019"/></td>
                        <td align="center" nowrap>10019</td>
                        <td align="center" nowrap>1</td>
                        <td align="center" nowrap>首页幻灯片</td>
                        <td align="center" nowrap><img src="/Uploads/adv/2018-05/20180508035033-30965.jpg" width="100" /></td>
                        <td align="center" nowrap>首页幻灯片</td>
                        <td nowrap align=center>
                            <a href="updateguanggao.html">修改</a>
                            
                        </td>
                    </tr>
 <tr>
                        <!--
                                                -->
						<td><input type="checkbox" name="id[]" value="10019"/></td>
                        <td align="center" nowrap>10019</td>
                        <td align="center" nowrap>1</td>
                        <td align="center" nowrap>首页幻灯片</td>
                        <td align="center" nowrap><img src="/Uploads/adv/2018-05/20180508035033-30965.jpg" width="100" /></td>
                        <td align="center" nowrap>首页幻灯片</td>
                        <td nowrap align=center>
                            <a href="updateguanggao.html">修改</a>
                            
                        </td>
                    </tr>


					</tbody>
					<tfoot>
						
						
     <tr>
                    <TD colspan="7">
                        <input id="add" value="增加广告" type=button name="add" onClick="location.href='addguanggao.html'">　
						<input id="add1" value="删除广告" type="submit" name="submit"/>
                    </td>
                </tr>


					</tfoot>
				</table>
				
			</div>
		</div>
	


     


        <H4>&nbsp;</H4><!-- end #mainContent --></DIV>
        <DIV id=footer>
        <P>&nbsp;</P><!-- end #footer --></DIV><!-- end #container --></DIV></BODY>
         <script type="text/javascript" src="assets/js/jquery-1.8.1.min.js" ></script>
<script src="Js/bootstrap.min.js"></script>
</HTML>