

<html>

	<head>
		<meta http-equiv="Content-Language" content="zh-cn">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="Css/style_admin.css">
		
	</head>

	<body>
		<form>
			<table cellspacing="1" cellpadding="4" width="100%"
				class="tableborder" id="table3">

				<input type="hidden" name="action" value="save" />
				<tr>
					<td colspan="12" class="header">
						鉴定信息
					</td>
				</tr>
				<tr>
					<td class="altbg1">
						<strong>会员:</strong>
					</td>
					<td class="altbg2" colspan="11">
						好饿
					</td>
				</tr>
				<tr>
					<td class="altbg1">
						类型：
					</td>
					<td class="altbg2" colspan="11">
						韩语翻译
					</td>
				</tr>
				<tr>
					<td class="altbg1">
						姓名：
					</td>
					<td class="altbg2" colspan="11">
						好饿
					</td>
				</tr>
				<tr>
					<TD class="altbg1">性别：</TD>
            <TD class="altbg2" colspan="11">女</TD>
<TR>
            <TD class="altbg1">签证类型：</TD>
            <TD class="altbg2" colspan="11">F-5永驻</TD>
            </TR>
            	<TR>
            <TD class="altbg1" >证件号码：</TD>
            <TD class="altbg2" colspan="11">身份证号码 4305232255885555</TD>
          </TR>
          <TR>
            <TD class="altbg1">翻译资质：</TD>
            <TD class="altbg2" colspan="11">证书</TD>
            
          </TR>
          <TR>
            <TD class="altbg1">资质图片：</TD>
            <TD class="altbg2" colspan="11">
            <a href="/Uploads/image/2019-01/20190121080912-35192.jpeg" target="_blank"><img src="/Uploads/image/2019-01/20190121080912-35192.jpeg" width="150" /></a>
            </TD>
           
          </TR>
          <TR>
            <TD class="altbg1" >是否有办公室：</TD>
            <TD class="altbg2" colspan="11">有
              　　
              地址：韩国 首尔特别市  中 区 中区              </TD>
          
          </TR>
          <TR>
            <TD class="altbg1">韩国营业执照：</TD>
            <TD class="altbg2" colspan="11">
           <a href="/Uploads/image/2019-01/20190121080938-58478.jpeg" target="_blank"><img src="/Uploads/image/2019-01/20190121080938-58478.jpeg" width="150" /></a>
                        </TD>
          </TR>
          <TR>
            <TD class="altbg1" >网址：</TD>
            <TD class="altbg2" colspan="11"></TD>
            
          </TR>
          <TR>
            <TD class="altbg1">在韩工作时间：</TD>
            <TD class="altbg2" colspan="11">5～6年</TD>
            
          </TR>
          <TR>
            <TD class="altbg1" >联系电话：</TD>
            <TD class="altbg2" colspan="11">15588552255</TD>
           </TR>
           <TR>
            <TD class="altbg1" >邮箱：</TD>
            <TD class="altbg2" colspan="11">12324@qq.com</TD>
          </TR>
          <TR>
            <TD class="altbg1">在韩住址：</TD>
            <TD class="altbg2" colspan="11" >首尔特别市  中 区 as</TD>
          </TR>
          <TR>
            <TD class="altbg1" >实力展示：</TD>
            <TD class="altbg2" colspan="11">sa as ssdcc dc&nbsp;</TD>
          </TR>
          <TR>
            <TD class="altbg1">相关证明文件：</TD>
            <TD class="altbg2" colspan="11" ><a href="/Uploads/file/2019-01/20190121081028-50232.jpg" target="_blank">查看</a></TD>
          </TR>
                    <TR>
            <TD class="altbg1">状态：</TD>
            <TD class="altbg2" colspan="11" >
            	<label>
                <input  type="radio" name="status" value="1" id="status_1">
                待审核</label><label>
                <input checked type="radio" name="status" value="2" id="status_2">
                审核不通过</label><label>
                <input  type="radio" name="status" value="3" id="status_3">
                审核通过</label>            </TD>
          </TR>
          <TR>
            <TD class="altbg1">管理员理由：</TD>
            <TD class="altbg2" colspan="11" >
            <textarea name="admin_reason" id="admin_reason" cols="45" rows="5"></textarea></TD>
          </TR>
          
          <TR>
            <TD class="altbg1" >&nbsp;</TD>
            <TD class="altbg2" colspan="11" >
            <input type="submit" value=" 设置状态 " />
			<a href="javascript:;" onclick="history.go(-1)"> 返回 </a>
			<input type="hidden" value="53" name="id" />
			</TD>
          </TR>

				
				

			
			</table>
		</form>

	</body>
	<script src="../js/jquery-1.12.4.js"></script>
<script type="text/javascript">

	
</script>	
</html>
