

<html>

	<head>
		<meta http-equiv="Content-Language" content="zh-cn">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="Css/style_admin.css">
		
	</head>

	<body>
		<form>
			<table cellspacing="1" cellpadding="4" width="100%"
				class="tableborder" id="table3">

				<input type="hidden" name="action" value="save" />
				<tr>
					<td colspan="12" class="header">
						退款处理
					</td>
				</tr>
				<tr>
					<td class="altbg1">
						<strong>会员:</strong>
					</td>
					<td class="altbg2" colspan="11">
						好饿
					</td>
				</tr>
				<tr>
					<td class="altbg1">
						订单号:
					</td>
					<td class="altbg2" colspan="11">
						15478003163996
					</td>
				</tr>
				<tr>
					<td class="altbg1">
						订单金额:
					</td>
					<td class="altbg2" colspan="11">
						96.0金币
					</td>
				</tr>
				<tr>
					<TD class="altbg1">申请退款金额:</TD>
            <TD class="altbg2" colspan="11">11</TD>
<TR>
            <TD class="altbg1">申请原因:</TD>
            <TD class="altbg2" colspan="11"> 尚未接单<br/>
            sad<br/>
</TD>
            </TR>
            	<TR>
            <TD class="altbg1" >申请日期:</TD>
            <TD class="altbg2" colspan="11">2019-01-21 13:12</TD>
          </TR>
          <TR>
            <TD class="altbg1">处理状态:</TD>
            <TD class="altbg2" colspan="11">退款完成</TD>
            
          </TR>
          <TR>
            <TD class="altbg1">商家处理：</TD>
            <TD class="altbg2" colspan="11">
          系统自动确认同意！
            </TD>
           
          </TR>
          <TR>
            <TD class="altbg1" >商家处理时间：</TD>
            <TD class="altbg2" colspan="11">2019-01-30 19:02 </TD>
          
          </TR>
           <TR>
            <TD class="altbg1" >退款金额：</TD>
            <TD class="altbg2" colspan="11">11<input style="display: none;"></TD>
          
          </TR>
           <TR style="display: none;">
            <TD class="altbg1" >操作：</TD>
            <TD class="altbg2" colspan="11">	<<input type="radio" name="status" value="3" checked />管理员介入　
		<input type="radio" name="status" value="4" />不退款　
			<input type="radio" name="status" value="5" />退款　
</TD>
          
          </TR>
           <TR style="display: none;">
            <TD class="altbg1" >管理员处理：</TD>
            <TD class="altbg2" colspan="11"><textarea name="admin_reason" cols="70" rows="5" id="admin_reason"></textarea>
</TD>
          
          </TR>
          
           <TR style="display: none;">
            <TD class="altbg1" >上传凭证：</TD>
            <TD class="altbg2" colspan="11"><div class="sel_file_d"><a href="javascript:void(0);" class="sel_file_a" id="filebt">上传文件</a></div>
              <p class="zc_info c_4">为了帮助您更好的解决问题，请上传图片。<br />格式要求：支持.jpg .jpeg .bmp .gif .png格式照片，大小不超过5M，最多可上传5张图片。</p>
              <div id="pics"></div>
              <div id="picss"></div>
</TD>
          
          </TR>
          <TR>
            <TD class="altbg1" >&nbsp;</TD>
            <TD class="altbg2" colspan="11" >
           
			<a href="javascript:;" onclick="history.go(-1)"> 返回 </a>
			<input type="hidden" value="53" name="id" />
			</TD>
          </TR>

				</tr>
				

			
			</table>
		</form>

	</body>
	<script src="Js/jquery-2.1.4.js"></script>
<script type="text/javascript">

	

</script>	
</html>
