

<html>

	<head>
		<meta http-equiv="Content-Language" content="zh-cn">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="Css/style_admin.css">
		<style>
			.cm .altbg1{
				width: 115px;
			}
		</style>
	</head>

	<body>
		<form>
			
			<table cellspacing="1" cellpadding="4" width="100%"
				class="tableborder cm" id="table3" style="margin-top: 10px;">

				
				
				<tr>
					<td colspan="12" class="header">
						商家信息
					</td>
				</tr>
				<tr>
					<td class="altbg1">
						店铺名称:
					</td>
					<td class="altbg2" colspan="11">
						阿giao
					</td>
				</tr>
				<tr>
					<td class="altbg1">
						保证金:
					</td>
					<td class="altbg2" colspan="11">
						500
					</td>
				</tr>
				
            	<TR>
            <TD class="altbg1" >所在城市:</TD>
            <TD class="altbg2" colspan="11">光州广域市</TD>
          </TR>
              <TR>
            <TD class="altbg1">QQ：</TD>
            <TD class="altbg2" colspan="11" >
            	2962941905         </TD>
          </TR>
          <TR>
            <TD class="altbg1">微信:</TD>
            <TD class="altbg2" colspan="11" >
            m2962941905  </TD>
          </TR>
          
          <TR>
            <TD class="altbg1">店铺状态:</TD>
            <TD class="altbg2" colspan="11">开启
            </TD>
            
          </TR>
          

			
			</table>
				<table cellspacing="1" cellpadding="4" width="100%"
				class="tableborder cm" id="table3" style="margin-top: 10px;">

				
				
				
					
         
			<TR>
            <TD class="altbg1">注册时间:</TD>
            <TD class="altbg2" colspan="11">
          2019-01-16 09:40   
            </TD>
           
          </TR>
           <TR>
            <TD class="altbg1">注册 IP:</TD>
            <TD class="altbg2" colspan="11">
          117.136.89.106
            </TD>
           
          </TR>
           <TR>
            <TD class="altbg1">最后登录时间:</TD>
            <TD class="altbg2" colspan="11">
          2019-02-13 14:55  
            </TD>
           
          </TR>
           <TR>
            <TD class="altbg1">最后登录IP:</TD>
            <TD class="altbg2" colspan="11">
          
            </TD>
           
          </TR>
          
           <TR>
            <TD class="altbg1">服务类别:</TD>
            <TD class="altbg2" colspan="11">
             自驾游
            </TD>
           
          </TR>
          
          

			</table>
			<table cellspacing="1" cellpadding="4" width="100%"
				class="tableborder cm" id="table3" style="margin-top: 10px;">

				
				
				<tr>
					<td colspan="12" class="header">
						商家托管
					</td>
				</tr>
				<tr>
					<td class="altbg1">
						托管提交时间:
					</td>
					<td class="altbg2" colspan="11">
						 2019-01-18 10 
					</td>
				</tr>
				<tr>
					<td class="altbg1">
						托管通过时间:
					</td>
					<td class="altbg2" colspan="11">
						
					</td>
				</tr>
				
            	<TR>
            <TD class="altbg1" >托管月数:</TD>
            <TD class="altbg2" colspan="11">1</TD>
          </TR>
              <TR>
            <TD class="altbg1">托管费用：</TD>
            <TD class="altbg2" colspan="11" >
            	0        </TD>
          </TR>
          <TR>
            <TD class="altbg1">托管开始日期:</TD>
            <TD class="altbg2" colspan="11" >
           <input type="date" value="2019-01-18"/>  </TD>
          </TR>
          
          <TR>
            <TD class="altbg1">托管结束日期:</TD>
            <TD class="altbg2" colspan="11"> <input type="date" value="2019-02-18"/>
            </TD>
            
          </TR>
          
<TR>
            <TD class="altbg1">托管审核:</TD>
            <TD class="altbg2" colspan="11">
            	 <input type="radio" name="status" value="0"  checked/>未审核
<input type="radio" name="status" value="1"  />审核通过
<input type="radio" name="status" value="2"  />托管服务到期

            </TD>
            
          </TR>
          <TR>
            <TD class="altbg1" >&nbsp;</TD>
            <TD class="altbg2" colspan="11" >
            <input type="submit" value=" 保存" />
			<a href="javascript:;" onclick="history.go(-1)"> 返回 </a>
			
			</TD>
          </TR>
			
			</table>
		</form>

	</body>
	<script src="../js/jquery-1.12.4.js"></script>
<script type="text/javascript">

	
</script>	
</html>
