<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title></title>
	
    <link rel="stylesheet" type="text/css" href="Css/admin-style.css" />
    <link rel="stylesheet" href="Css/bootstrap.min.css" />
    <!-- <link rel="stylesheet" type="text/css" href="/Public/css/admin/pagelist.css" /> -->
<style>
	#vmCnt th,td{
		text-align: center;
	}
	input,select{
		height: 25px;
		width: 170px;
		font-size: 7px;
	}
	#admin_reason{
		width: 300px;
	}
	#cv td{
		text-align: center;
		height: 30px;
		line-height: 30px;
	}
</style>

   
    

</HEAD>
<BODY class=oneColLiqCtrHdr style="width: 1600px;">
<DIV id=container>
    <DIV id=header>
        <H4>
        		站内信<BR></H4>
         <form method="post" name="searchform" action="">
            <TABLE border=0 class="tablesorter" cellSpacing=1 cellPadding=6 width="100%">
                <TBODY>
                <TR>
                         <TD >  
					
					收信用户名:
                      <input name="name2" type="text" id="name2" size="15" maxlength="20" style="height: 15px;margin-top:10px ;">
                  <input type="submit" name="button" id="button" value="搜索">
				  </TD>
                    <TD width="240" >&nbsp;</TD>
                    <TD >&nbsp;</TD>


                </TR>
                </TBODY>
            </TABLE>
        </form>

    </DIV>
    <DIV id="mainContent"><BR>
    <div class="col-md-12" style="padding: 0px;">
			<div class="table-responsive">
				<table id="vmCnt" class="table table-hover alert-dismissable table-bordered " >
					<thead>
						<tr >
							 <th >序号</th>
					<TH >发信人</TH>
                    <TH >收信人</TH>
                    <TH  >内容</TH>
                    <TH >发信时间</TH>
                    <TH >&nbsp;</TH>


						</tr>
					</thead>
					<tbody id="cv">
						     
       <tr>
                        <td align="center">
                        1                        </td>
						<td align="center" nowrap>阿giao</td>
                        <td align="center" nowrap>贸然行事</td>
                        <td  nowrap>瞧你妈</td>
                        <td  nowrap>2019-01-21 14:19</td>
                        <td></td>
                      </tr>
<tr>
                        <td align="center">
                        1                        </td>
						<td align="center" nowrap>阿giao</td>
                        <td align="center" nowrap>贸然行事</td>
                        <td  nowrap>瞧你妈</td>
                        <td  nowrap>2019-01-21 14:19</td>
                        <td></td>
                      </tr>
<tr>
                        <td align="center">
                        1                        </td>
						<td align="center" nowrap>阿giao</td>
                        <td align="center" nowrap>贸然行事</td>
                        <td  nowrap>瞧你妈</td>
                        <td  nowrap>2019-01-21 14:19</td>
                        <td></td>
                      </tr>


					</tbody>
					<tfoot>
						
						


					</tfoot>
				</table>
				
			</div>
		</div>
		    <TABLE id="itemlist" class="tablesorter" border=0 cellSpacing=1 cellPadding=6 width="100%">
<TR>
                    <TD colspan="8"><div class="digg"><div>  <span class="current">1</span><a class="num" href="/index.php/Admincp/Feedback/sms/p/2.html">2</a><a class="num" href="/index.php/Admincp/Feedback/sms/p/3.html">3</a><a class="num" href="/index.php/Admincp/Feedback/sms/p/4.html">4</a><a class="num" href="/index.php/Admincp/Feedback/sms/p/5.html">5</a><a class="num" href="/index.php/Admincp/Feedback/sms/p/6.html">6</a><a class="num" href="/index.php/Admincp/Feedback/sms/p/7.html">7</a><a class="num" href="/index.php/Admincp/Feedback/sms/p/8.html">8</a><a class="num" href="/index.php/Admincp/Feedback/sms/p/9.html">9</a><a class="num" href="/index.php/Admincp/Feedback/sms/p/10.html">10</a><a class="num" href="/index.php/Admincp/Feedback/sms/p/11.html">11</a> <a class="next" href="/index.php/Admincp/Feedback/sms/p/2.html">下一页</a> <a class="end" href="/index.php/Admincp/Feedback/sms/p/12.html">12</a></div></div></td>
              </TR>                
          </TABLE>


     


        <H4>&nbsp;</H4><!-- end #mainContent --></DIV>
        <DIV id=footer>
        <P>&nbsp;</P><!-- end #footer --></DIV><!-- end #container --></DIV></BODY>
         <script type="text/javascript" src="assets/js/jquery-1.8.1.min.js" ></script>
<script src="Js/bootstrap.min.js"></script>
</HTML>