

<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta http-equiv="Content-Language" content="zh-cn">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="/Css/style_admin.css">
		
	</head>

	<body>
		<form  method="get" action="/lgbinvitation/updatepost">
			<table cellspacing="1" cellpadding="4" width="100%"
				class="tableborder" id="table3">

				<input type="hidden" name="action" value="save" />
				<tr>
					<td colspan="12" class="header">
						资讯管理
					</td>
				</tr>
				<tr>
					<td class="altbg1">
						标题:
					</td>
					<td class="altbg2" colspan="11" th:text="${querypost.title}">
						好饿
					</td>
				</tr>
				<tr>
					<td class="altbg1">
						栏目:
					</td>
					<td class="altbg2" colspan="11" th:text="${querypost.fmname}">
						 校园求职
					</td>
				</tr>
				<tr>
					<td class="altbg1">
						发布时间:
					</td>
					<td class="altbg2" colspan="11" th:text="${querypost.releasetime}">
						2019-01-21 10:01
					</td>
				</tr>
				<tr>
					<TD class="altbg1" >内容:</TD>
            <TD class="altbg2" colspan="11" th:text="${querypost.content}">xxcxzcxzx</TD>

          <TR>
            <TD class="altbg1">审核状态：</TD>
            <TD class="altbg2" colspan="11">
          <input type="radio" name="zt" value="0"  />未审核
          <input type="radio" name="zt" value="1" checked />已审核
            </TD>
           
          </TR>
          <TR>
            <TD class="altbg1" >删除状态：</TD>
            <TD class="altbg2" colspan="11"><input type="radio" name="is_delete" value="1"  />删除
            <input type="radio" name="is_delete" value="0" checked />未删除
            </TD>
          
          </TR>
          
          <TR>
            <TD class="altbg1" >管理员意见：</TD>
            <TD class="altbg2" colspan="11">
            	<textarea name="admin_reason" id="admin_reason" rows="2" cols="80" placeholder="删帖必填"></textarea>

            </TD>
          
          </TR>
          
          <TR>
            <TD class="altbg1" >推荐：</TD>
            <TD class="altbg2" colspan="11">
            	<input type="checkbox" name="jin" value="1"  />加精
            <input type="checkbox" name="zhiding" value="1"  />固顶
            </TD>
          
          </TR>
          
          <TR>
            <TD class="altbg1" >&nbsp;</TD>
            <TD class="altbg2" colspan="11" >
             <INPUT id=button3 value="   保存     " type=submit name=button3 class="button white">

			<a href="javascript:;" onclick="history.go(-1)"> 返回 </a>
			
			</TD>
          </TR>

				</tr>
				

			
			</table>
		</form>

	</body>
	<script src="../js/jquery-1.12.4.js"></script>
	<script type="text/javascript">

	
</script>	
</html>
